.main_div {
    width: 100%;
    height: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 20px 50px -5px rgb(0 0 0 / 0.25);
}

.loads_main_div {
    display: grid;
    grid-template-columns: 1fr 1fr 40%;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    border: 2px solid #929292;
    border-radius: 10px;
    /* transition: all 0.3s; */
    margin-bottom: 25px;
}

.loads_main_div:hover {
    border: 2px solid #000;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.price_div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.price_inner_div {
    display: flex;
    flex-direction: column;
    gap: 10;
}

.price_inner_div .price {
    font-weight: bold;
    color: rgb(14, 140, 179);
    /* color: rgba(246, 166, 16, 0.848); */
    font-size: 48px;
}

/* text-5xl font-bold text-cyan-600 */


.Pickup_load_div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dilivery_load_div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button_div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
}

.btn {
    background-color: rgb(14, 140, 179);
    padding: 4px 12px;
    color: #fff;
    font-size: 18px;
}

.td_div:hover {
    background-color: rgb(250, 250, 250);
}

@media (max-width: 992px) {
    .price_inner_div .price {
        font-size: 30px;
    }

    .button_div {
        gap: 10px;
        padding: 10px;
    }

    .btn {
        padding: 4px 5px;
        font-size: 16px;
    }
    .main_div{
        padding: 10px;
    }
}

@media (max-width: 767px) {
    .loads_main_div{
        grid-template-columns: 1fr 1fr;
    }
    .price_inner_div .price{
        font-size: 30px;
    }
    .city_info_div{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: -3;
    }
    .price_div{
        grid-column-start:2 ;
        grid-column-end:3 ;
    }
    .button_div{
        flex-direction: column;
    }
    .btn{
        font-size: 14px;
    }
}