@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@400&display=swap');

.main{
    width: 100%;
    height: auto;
    padding: 0px 100px;
    z-index: 1000;
}
.main_inner {
    display: grid;
    margin: 0 180px;
    padding: 50px 80px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fff;
}
.logo_div{
    display: flex;
    justify-content: center;
}
.logo{
    width: 40%;
}

.header_info_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
}
.header_info_div .header_icon{
    font-size: 30px;
    margin-right: 15px;
}
.header_info_div .phone_info{
    display: flex;
    flex-direction: column;
}
.header_info_div .phone_info span{
    color: rgb(143, 143, 143);
    font-weight: 100;
    font-family: Roboto;
}
.header_info_div .phone_info .email_link{
    color: rgb(89, 89, 89);
    font-family: Roboto;
    text-decoration: none;
}
.header_info_div .phone_info .phone_link{
    color: rgb(89, 89, 89);
    font-family: Roboto;
    text-decoration: none;
}


@media (max-width: 992px){
    .main_inner{
        margin: 0 0;
        padding: 30px 30px;
    }
    .main{
        padding: 0px 0px;
    }
    .logo{
        width: 60%;
    }
    .header_info_div{
        font-size: 16px;
    }
}
@media (max-width: 767px){
    .main_inner{
        grid-template-columns: 1fr;
    }
    .main{
        padding: 0px 20px;
    }
    .logo{
        width: 60%;
    }
    .header_info_div{
        display: none;
    }
}