.map_div{
    height: 70%;
}
.load_info_outer_div{
    display: grid;
    grid-template-columns: 1fr 45%;
    width: 80%;
}

.load_info_div{
    background-color: #fff;
    height: 70%;
    overflow-y: scroll;
}

.truck_div{
    width: 90%;
    color: red;
    font-size: 45px;
    overflow: hidden;
}
.truck{

    position: relative;
    animation: truck 8s linear infinite ;
}
@keyframes truck {
    0%{
        left: 12px;
    }
    50%{
        left: 90%;
    }
    100%{
        left: 110%;
    }
}

@media (max-width: 1440px) {
    .truck_div{
        width: 80%;
    }
    .load_info_outer_div{
        width: 100%;
        padding: 0 20px;
    }
}