.truck_div{
    width: 68%;
    color: red;
    font-size: 45px;
    overflow: hidden;
    /* background: #000; */
}
.truck{

    position: relative;
    /* left: -20px; */
    animation: truck 8s linear infinite ;
}
@keyframes truck {
    0%{
        left: 12px;
    }
    50%{
        left: 90%;
    }
    100%{
        left: 110%;
    }
}