.main{
    background-image: url('/form.jpg');
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup_box{
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #d3d3d3;
    backdrop-filter: blur(6px);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin: 20px 0; */
    border-radius: 10px;
    width: 40%;
}
.logo{
    display: block;
    margin: 0 auto 20px;
    max-width: 150px;
}
.label{
    color: #000;
    font-size: 18px;
    margin-bottom: 10px;
}
.lastName_firstName_div{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}
.form_input{
    padding: 8px;
    border: none;
    border: 2px solid #fff;
    outline: none;
    transition: all 0.2s;
}
.form_input:focus{
    border: 2px solid rgb(22, 93, 207);
}
.form_input::placeholder{
    color: #bab9b9;
}
.password_form_input{
    padding: 8px;
    border: none;
    border: 2px solid #fff;
    outline: none;
    transition: all 0.2s;
    position: relative;
}
.password_form_input:focus{
    border: 2px solid rgb(22, 93, 207);
}
.password_eye{
    position: absolute;
    top: 50px;
    right: 10px;
    font-size: 20px;
}

.button{
    background-color: rgb(43, 79, 221);
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    transition: all 0.2s;
}
.button:hover{
    background-color: rgb(34, 215, 238);
}

/* background:"transparent",border:"none",borderBottom:"2px solid #fff" */