@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@400&display=swap');


.ul_link_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
}
.faBars{
    font-size: 25px;
    display: none;
}

.sidebarDiv{
    display: none;
}

.ul {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 50px;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    /* margin: 0; */
}

.ul li {
    transition: all 0.2s;
}

.ul li:hover {
    color: rgb(246, 93, 37);
}

.ul li .link{
    font-family: Poppins;
}

.sticky_top {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(244, 244, 244);
}

.video_background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


@media (max-width: 992px) {
    .ul_link_div{
        padding: 5px 20px;
    }
}
@media (max-width: 768px) {
    .faBars{
        display: block;
    }
    .sidebarDiv{
        display: block;
    }
    .ul li {
        display: none;
    }
}