.main_div {
    display: grid;
    grid-template-columns: 25% 1fr;
    padding: 10px 30px;
    height: 100vh;
}

.load_main_div {
    padding: 0 100px;
}

.load_outer_div {
    display: grid;
    grid-template-columns: 1fr 1fr 40%;
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    border: 2px solid #929292;
    border-radius: 10px;
    margin-bottom: 25px;
}

.load_outer_div:hover {
    border: 2px solid #000;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.price_div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.price_inner_div {
    display: flex;
    flex-direction: column;
    gap: 10;
}

.Pickup_load_div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.price_inner_div .price {
    font-weight: bold;
    color: rgb(14, 140, 179);
    font-size: 48px;
}

.dilivery_load_div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button_div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
}

.btn {
    background-color: rgb(14, 140, 179);
    padding: 4px 12px;
    color: #fff;
    font-size: 18px;
}

.view_book_load_div {
    display: flex;
    gap: 20px;
}

.edit_delete_div {
    display: flex;
    gap: 20px;
}

.PcityName {
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
}

.Pdate_Ptime {
    font-size: 14px;
}

.input_div {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 50px;
}

.date_input {
    width: 150px;
    border: 1px solid;
    margin-left: 10px;
    outline: none;
    height: 30px;
}
.clear_btn{
    display: flex;
    align-items: center;
    color: rgb(191, 23, 11);
    font-weight: 500;
    margin: auto;
}
.clear_btn span{
    font-size: 25px;
}

@media (max-width: 992px) {
    .main_div {
        display: flex;
        flex-direction: column;
    }

    .input_div {
        display: flex;
        
    }

    .date_input {
        width: 120px;
    }

    .load_main_div {
        padding: 0 10px;
        margin-top: 50px;
    }

    .load_outer_div {
        padding: 20px 0;
    }

    .price_inner_div .price {
        font-size: 40px;
    }

    .button_div {
        display: flex;
        gap: 10px;
        padding: 10px;
    }

    .btn {
        padding: 4px 5px;
        font-size: 16px;
    }

    .main_div {
        padding: 10px;
    }

    .edit_delete_div {
        display: flex;
        gap: 20px;
    }

    .view_book_load_div {
        display: flex;
        gap: 10px;
    }
}

@media (max-width: 767px) {
    .load_outer_div {
        grid-template-columns: 45% 1fr;
        padding: 5px;
    }

    .loads_main_div {
        grid-template-columns: 1fr 1fr;
    }

    .price_inner_div .price {
        font-size: 32px;
    }

    .city_info_div {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: -3;
    }

    .price_div {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .button_div {
        flex-direction: column;
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 6px 5px;
    }

    .btn {
        font-size: 12px;
        padding: 5px 6px;
    }
}